.card {
  width: 85%;
  margin: 0 auto;
  max-width: 1440px;
  background-color: var(--clr-card-background);
  border-radius: 5px;
  overflow: hidden;

  &__img {
    width: 100%;
    max-width: var(--screen-sm);
    object-fit: cover;
  }

  &__content {
    padding: 1.5em;
  }

  &__body {
    margin-top: 0.75em;
  }

  &__stats {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__stat {
    margin-top: 1em;
  }
}
