.card {
  width: 85%;
  min-width: 325px;
  margin: 0 auto;
  max-width: 968px;
  background-color: var(--clr-card-background);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__img {
    width: 100%;
    max-width: 568px;
    object-fit: cover;
  }

  &__content {
    padding: 1.5em;
  }

  &__body {
    margin-top: 0.75em;
  }

  &__stats {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__stat {
    margin-top: 1em;
  }

  @media (min-width: 612px) {
    & {
      flex-direction: row;
      text-align: left;
    }
    &__content {
      padding: 3em;
      padding-right: 5em;
      order: -1;
    }
    &__body {
      margin-top: 1.25em;
    }

    &__stats {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 5em;
    }
  }
}
